body {
  background-color: black;
  color: white;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navigation-item {
  list-style: none;
  text-align: center;
}

.encabezado {
  border: 1px;
  padding: 15px 15px 100px;
  position: relative;
  z-index: 2;
  background-image: linear-gradient(
    to bottom,
    black 0%,
    black 50%,
    rgba(0, 0, 0, 0.5),
    transparent 90%
  );
}

.navigation {
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-columns: 100px;
  grid-auto-flow: column;
  justify-content: space-around;
}

.featured {
  margin-top: -80px;
  margin-left: 20px;
  position: relative;
  overflow: ;
}

.featured-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    to top,
    black 0%,
    black 25%,
    rgba(0, 0, 0, 0.5),
    transparent 90%
  );
}

.tarjetas {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.tarjetas {
  display: flex;
}

.tarjetas::before {
  content: "♥";
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.tarjetas:first-child::before {
  display: none;
}

.play {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 1em;
}

.button {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 6px 1em 6px 0.5em;
  border: none;
  border-radius: 3px;
}

button::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.button-secondary {
  background: none;
  color: white;
  font-size: -1em;
  min-width: 100;
  cursor: pointer;
  border: none;
}

.button-secondary::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  margin-bottom: 1px;
}

.icon-plus::before {
  background: url("../../icons/plus.svg");
}

.icon-play::before {
  background: url("../../icons/play.svg");
}

.icon-info::before {
  background: url("../../icons/info.svg");
}

.content {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}

.item {
  display: inline-block;
  margin-left: 10px;
}

.item:first-child {
  margin: 0;
}

.lista {
  padding: 0 1em;
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 1em 0 0;
}

.tabs {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  color: #6e6e6e;
  padding-bottom: 1em;
}

.tabs a {
  color: #6e6e6e;
}

.tabs-item {
  text-align: center;
}

.tabs-item svg {
  display: block;
  margin: auto;
}

.tabs-item path {
  fill: #6e6e6e;
}

.tabs-item:hover :is(path, span) {
  color: white;
  fill: white;
}
